pkgbase = closure-linter
	pkgdesc = A JavaScript style checker and style fixer
	pkgver = 2.3.13
	pkgrel = 2
	url = http://code.google.com/closure
	arch = any
	license = APACHE
	depends = python2-gflags
	depends = python2-setuptools
	source = http://closure-linter.googlecode.com/files/closure_linter-2.3.13.tar.gz
	sha256sums = 7a1131389855a26be3449ba483ec3af59572859786b06b5ef8b9396440658f5a

pkgname = closure-linter

