pkgbase = closure-linter
	pkgdesc = A JavaScript style checker and style fixer
	pkgver = 2.3.11
	pkgrel = 1
	url = http://code.google.com/closure
	arch = any
	license = APACHE
	depends = python2
	depends = python2-gflags
	depends = python2-distribute
	source = http://closure-linter.googlecode.com/files/closure_linter-2.3.11.tar.gz
	sha256sums = a17790366c8cf07c932aafc8f1945e550b3f381178e1a8aad0f6cc75d41510f6

pkgname = closure-linter

