pkgbase = closure-linter
	pkgdesc = A JavaScript style checker and style fixer
	pkgver = 2.3.8
	pkgrel = 1
	url = http://code.google.com/closure
	arch = any
	license = APACHE
	depends = python2
	depends = python2-gflags
	depends = python2-distribute
	source = http://closure-linter.googlecode.com/files/closure_linter-2.3.8.tar.gz
	sha256sums = 40b405bb550c12e54ccf9e9b6f463c889e73ed18fc462703f59c2626446ab37f

pkgname = closure-linter

